.main {
  height: calc(100vh - 40px - 48px);
  width: 100vw;
  padding: 20px;
}

.ai_title {
  display: flex;
  align-items: center;
  color: var(--primary-color--);
  font-size: 0.36rem;
  padding-bottom: 0.4rem;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;

  .algorithm_status {
    margin: 10% 0;
    padding: 0 10%;
  }

  .img_container {
    width: 300px;
    height: 200px;
    background-color: black;

    img {
      width: 300px;
      height: 200px;
    }
  }
}

.modal_title {
  color: var(--primary-color--);
  text-align: center;
}

.continue {
  margin-bottom: 5%;
}
